body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  padding: 0 1.5rem;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  opacity: 0.9;
  background-color: #452020;
}

.page-footer{
  background-color: #452020b2;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
  z-index: 1;
}
